@import url('../../assets/GlobalVariables.css');

.card{
    
    background-color: var(--main-gray);
    max-width: 200px;
    max-height: 100%;
    
    border: 1px solid var(--main-purple);
    box-shadow: 6px 6px 12px #8072e4,
             -6px -6px 12px #8072e4;
    border-radius: 5px;
}
.card:hover{
    border: 1px solid #9287e2;
    box-shadow: 6px 6px 12px #a098de,
             -6px -6px 12px #a098de;
             background-color:#525252;
}

.card-text{
    padding: 3px;
}

.card-image-block{

    position: relative;
    height:100px ;
    width: 200px;
    
}

.card-image{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.card-tittle{
    padding: 3px;
    font-size: 15px;
    color: rgb(216, 216, 216);;
    position: absolute;
    bottom: 0;
    left: 0;
}
.card-genres{

    display: flex;
    justify-content: space-around;
}

.card-genres-text{
    
    font-size: 10px;
    background-color:var(--main-gray) ;
    color: var(--main-white);
    border-radius: 20%;
}