@import url('../../shared/assets/GlobalVariables.css');

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.home-container{
    position: relative;
}


.home-card-block{
    margin: 5px;
    display: flex;
}
.home-filter-bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-filter-buttons{

    display: flex;
    align-items: center;
    justify-content: space-between;

}
