@import url('../../shared/assets/GlobalVariables.css');

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
}

.home-card-block{
    margin: 5px;
}