:root{
    
    --main-white:#ffffff;
    --main-purple:#6c5ce7;
    --main-blue:#0060A7;
    --main-black:#00000d;
    --main-darkBlue:#072247;
    --main-blueBg:#29468b;
    --main-ligthPurple:#9b98ff;
    --main-gray:#2e2e2e;
   
}

/* 
* clases globales por multiples usos 
*/
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.PyM-0{
    padding: 0px;
    margin: 0px;
}