@import url('../../../assets/GlobalVariables.css');

.inputsearch-block{
    display: inline-block;
}

.inputseacrh-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--main-purple);
    box-shadow: 6px 6px 12px #8072e4,
             -6px -6px 12px #8072e4;
    border-radius: 5px;
    background-color:var(--main-purple) ;

}

.inputseach-input{

    padding: inherit;
    outline: none;
    border: none;
    background-color: var(--main-purple);
    color: #fff;

}
.inputseach-input:focus{
    outline: none;
}
.inputseach-input::placeholder{
    color: #fff;
}

.icon-color{
    color: #fff;
}