.cover-bg{
    background-color: #fff;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.cover-image{
    width: auto;
    
}
.cover-tittle{
    font-size: 15px;
}